@page "/Contact"
@rendermode InteractiveServer

<PageTitle>Contact </PageTitle>

<h1>Contact</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="LinkedInConnect">LinkedIn</button>
<button class="btn btn-primary" @onclick="GithubConnect">Github</button>

@code {
    private int currentCount = 0;
    [Parameter]
    public int incrementAmount { get; set; } = 100;
    // هنا انا بعمل انجيكت علشان اوصل لل النفجيت مانجير 
    [Inject]
    private NavigationManager navigationManager { get; set; }
    private void IncrementCount()
    {
        currentCount+= incrementAmount;
    }
    private void LinkedInConnect()
    {
        navigationManager.NavigateTo("https://www.linkedin.com/in/mahmoudshaddad0/");
    }
    private void GithubConnect()
    {
        navigationManager.NavigateTo("https://github.com/mahmoudshaddad");

    }
}
